.jumbotron {
	background-color: green; 
	color: grey;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: green;
	margin-bottom: 0px;
	margin-top: 20px;
	
}

.tarjeta-hotel{
	flex: 1 200px;
	padding: 4px 6px 4px 6px;
}
a{
	color: black;
}